
.mainTitle {
font-size: 32px;
margin-top: 5px;
}

.box {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgb(169, 153, 153);
  border-radius: 10px;
  background-color: rgb(240, 225, 225);
}

.rightBox {
    display: flex;
    flex-direction: column;
    padding:  0 40px 0 20px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.value {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: 500;
  margin-left: 10px;
}

.overview {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  text-indent: 3ch;
  
}

.more {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: larger;
    padding: 5px;
    background-color: rgb(245, 227, 227);
    border-radius: 5px;
}

.link:hover {
    scale: 1.05;
    background-color: rgb(255, 255, 255);
}



